In [1]:
import sys
import pathlib
src_path = pathlib.Path().absolute().parent /"src"
sys.path.append(str(src_path))
import data_functions
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import pickle
from sklearn.metrics import classification_report
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [3]:
strict_pickle_path = src_path / 'strict_pre_pipeline_AD.pkl'
#loose_pickle_path = src_path / 'loose_pre_pipeline.pkl'

In [4]:
file = open(strict_pickle_path, 'rb')
saved_model = pickle.load(file)
file.close()

In [5]:
#file_loose =open(loose_pickle_path,'rb')
#loose_model=pickle.load(file_loose)
#file.close()

In [5]:
X_train, X_test, y_train = data_functions.get_dataframes()

In [7]:
y_train

         status_group
id
69572      functional
8776       functional
34310      functional
67743  non functional
19728      functional
...               ...
60739      functional
27263      functional
37057      functional
31282      functional
26348      functional

[59400 rows x 1 columns]

In [18]:
X_train_val_trans = saved_model.transform(X_train_val)

In [10]:
#pd.DataFrame(x_train)

,0,1,2,3,4,5,6,7,8,9,...,625,626,627,628,629,630,631,632,633,634
0,6000.0,1390.0,109.0,1999.0,1999.000000,21.0,1.895665,1.041252,-0.150399,0.733857,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1399.0,280.0,2010.0,2010.000000,10.0,-0.105970,1.054237,0.212290,0.745416,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,25.0,686.0,250.0,2009.0,2009.000000,11.0,-0.097630,0.025541,0.148660,0.744365,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,263.0,58.0,1986.0,1986.000000,34.0,-0.105970,-0.584751,-0.258570,0.720196,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1996.814686,0.0,-0.105970,-0.964200,-0.381587,-1.366788,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,10.0,1210.0,125.0,1999.0,1999.000000,21.0,-0.102634,0.781553,-0.116463,0.733857,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
59396,4700.0,1212.0,56.0,1996.0,1996.000000,24.0,1.461977,0.784439,-0.262812,0.730704,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
59397,0.0,0.0,0.0,0.0,1996.814686,0.0,-0.105970,-0.964200,-0.381587,-1.366788,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
59398,0.0,0.0,0.0,0.0,1996.814686,0.0,-0.105970,-0.964200,-0.381587,-1.366788,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
59399,0.0,191.0,150.0,2002.0,2002.000000,18.0,-0.105970,-0.688631,-0.063439,0.737010,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
X_train_val, X_test_val, y_train_val, y_test_val= train_test_split(X_train, y_train, random_state=2020)

In [8]:
X_train_val.shape

(44550, 39)

In [14]:
X_train_val

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
41434,0.0,2011-07-18,P,0,P,33.037555,-2.411289,Kwa Lutenganija Buluba,0,Lake Victoria,...,monthly,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
47577,1200.0,2013-01-21,Government Of Tanzania,1228,DWE,30.254171,-4.530045,Kwa Fulugence,0,Lake Tanganyika,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
55982,0.0,2012-10-07,Tasaf,0,DWE,31.515446,-3.335620,Kanyemba,0,Lake Tanganyika,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
25879,0.0,2013-02-20,World Vision,954,World vision,36.838153,-3.650579,Shuleni,0,Pangani,...,unknown,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,other,other
13900,0.0,2011-07-27,NaN,0,NaN,33.540494,-9.162976,Kwa Andreas,0,Lake Nyasa,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43021,0.0,2011-07-23,In,1944,Vill,31.367762,-7.786972,Manyele,0,Lake Rukwa,...,never pay,unknown,unknown,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
49821,0.0,2011-08-25,Dwe,1521,DWE,31.827198,-8.391348,Kwa Zumba,0,Lake Rukwa,...,never pay,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
2983,0.0,2011-04-18,Tanzakesho,0,DWE,32.940920,-9.166375,Atson Kibona,0,Lake Rukwa,...,never pay,soft,good,enough,enough,spring,spring,groundwater,other,other
45192,500.0,2013-03-28,Mbiuwasa,1293,MBIUWASA,35.009905,-10.938834,Kwa Mzee Kilili,0,Lake Nyasa,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
28256,0.0,2011-04-08,NaN,0,NaN,34.214277,-8.712362,Kwa Mzee Mwangela,0,Rufiji,...,monthly,soft,good,seasonal,seasonal,river,river/lake,surface,communal standpipe,communal standpipe

In [10]:

rf = RandomForestClassifier()
final_model = make_pipeline(saved_model, rf)
cross_val_score(final_model, X_train_val_trans, y_train_val['status_group'], cv = 5)

array([0.77934905, 0.78742985, 0.78821549, 0.79349046, 0.78900112])

In [20]:
rf.fit(X_train_val_trans,y_train_val['status_group'])
y_pred_rf= rf.predict(X_train_val_trans)

In [14]:
#knn.fit(x_train,y_train['status_group'])
#y_pred=knn.predict(x_train)

In [22]:
print(classification_report(y_train_val,y_pred_rf))

                         precision    recall  f1-score   support

             functional       0.93      0.98      0.96     24249
functional needs repair       0.91      0.78      0.84      3165
         non functional       0.97      0.93      0.95     17136

               accuracy                           0.95     44550
              macro avg       0.94      0.90      0.92     44550
           weighted avg       0.95      0.95      0.94     44550

In [24]:
X_test_val_trans= saved_model.transform(X_test_val)

In [25]:
y_test_pred_rf=rf.predict(X_test_val_trans)

In [26]:
print(classification_report(y_test_val, y_test_pred_rf))

                         precision    recall  f1-score   support

             functional       0.79      0.87      0.83      8010
functional needs repair       0.52      0.32      0.39      1152
         non functional       0.82      0.76      0.79      5688

               accuracy                           0.79     14850
              macro avg       0.71      0.65      0.67     14850
           weighted avg       0.78      0.79      0.78     14850

In [22]:
forest=RandomForestClassifier()
forest.fit(X_train_val,y_train_val['status_group'])
y_forest_pred= forest.predict(X_train_val)
#cross_val_score(forest,x_train,y_train['status_group'], cv=5)

ValueError: could not convert string to float: '2011-07-18'

In [19]:
print(classification_report(y_train_val, y_forest_pred))

                         precision    recall  f1-score   support

             functional       0.93      0.98      0.95     32259
functional needs repair       0.90      0.78      0.84      4317
         non functional       0.97      0.93      0.95     22824

               accuracy                           0.94     59400
              macro avg       0.93      0.90      0.91     59400
           weighted avg       0.94      0.94      0.94     59400

In [ ]:
print(classification_report(y_test_val, y_forest_pred))

In [16]:
import sklearn

In [17]:
sklearn.__version__

'0.23.1'